#blocker {
  display: none;
}

#container {
  background-image: url("../assets/wireframeV2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#accueil,
#step1Elt,
#step2Elt {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
  border: 5px solid coral;
  box-sizing: border-box;
}

#step1Elt {
  border: 5px solid aquamarine;
}

#step2Elt {
  border: 5px solid red;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

/* Media Queries */

@media (max-width: 1500px) {
  #blocker {
    display: block;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    background: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: none;
  }
}

@media (min-width: 2100px) {
  #blocker {
    display: block;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    background: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: none;
  }
}
